body {
  background-color: #f8f9fa;
}
.container {
  margin-top: 50px;
}

.compra {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.compra-id {
  font-weight: bold;
}

.compra-total {
  font-weight: bold;
}
