body {
  background-color: #f8f9fa;
}

.container {
  margin-top: 50px;
  text-align: center;
}

.product-card {
  margin-bottom: 30px;
}

.quantity-input {
  width: 60px;
}

.product-image {
  width: 200px;
  height: 200px;
}

.product-image:hover {
  width: 230px;
  height: 230px;
  cursor: pointer;
}

img {
  max-width: 500px;
  max-height: 480px;
}

.media-modal .modal-dialog {
  max-width: 500px; /* Defina o tamanho máximo desejado */
}

.media-modal .modal-content {
  max-height: 570px; /* Defina a altura máxima desejada */
  overflow-y: auto; /* Habilita a rolagem vertical quando o conteúdo é maior que o tamanho máximo */
}

.media-modal .carousel-item {
  max-height: 480px; /* Defina a altura máxima dos itens do carrossel */
}

.sort-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}

#sort-options {
  padding: 5px;
}
